@import '../../../common/styles/colors/colors';

.header {
  font-family: Inter, Arial, serif;
  padding: 20px 0 0;
  display: flex;
  align-items: center;

  &__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    text-align: center;
    color: $black;
  }
}