@import '../../common/styles/colors/colors';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
}

.main {
  font-family: Inter, Arial, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  width: 100%;
  padding: 20px 50px;
}