@import '../../../common/styles/colors/colors';

.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 400px;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0 0 20px 0 #0000001A;
  padding: 10px;
  position: relative;

  &_catched {
    background: linear-gradient(to bottom, white 50%, red 50%);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background: white;
      border: 5px solid black;
      border-radius: 50%;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 10px;
      background: black;
      transform: translateY(-50%);
      z-index: 0;
    }
  }

  &__image {
    width: 150px;
  }


  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

  }

  &__id {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: $font-description;
  }

  &__button {
    width: 90px;
    height: 90px;
    background: linear-gradient(to bottom, white 50%, red 50%);
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    scale: 1;
    transition: scale 0.2s ease;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background: white;
      border: 5px solid black;
      border-radius: 50%;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 10px;
      background: black;
      transform: translateY(-50%);
      z-index: 0;
    }

    &:disabled:hover {
      scale: 1;
    }

    &:hover {
      scale: 1.05;
    }
  }
  &__span {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    margin-bottom: 35px;
    color: $black;
    z-index: 10;
  }
}

